# Binaries, compiled objects, plugin-related, launchers, workspace files, etc.
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.log
/bin/
.DS_Store
*.o
*.a
*.so
go.work
go.work.sum

# Folders
/tmp
/info
_obj
_test
vendor/

# Dependencies, variables, hidden files
/node_modules
.env
